body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  margin:  2.5%;
  color: #FEF2BF;
}

#level-titles {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2.5%;
  color: #FEF2BF;
}


/* .container {
  display: block;
  width: 50%;
  margin: auto;

} */

.btns {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#instructions {
  background-color: #FEF2BF;
  border-radius: 1%;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  text-align: left;
  margin: 50px 50px 50px 0px;
  padding: 10px;
}

.play {
  background-color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  color: #011F3F;
}